* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;


}

button {
    border: none;
    background-color: white;
    margin-top: 10px;
}

.container-buttons {
    display: flex;
    gap: 10px;

}

.container-buttons button {
    margin: 20px 10px;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 20px;
    margin-left: 42px;
}

.register {
    display: flex;
}

.register button {
    color: aliceblue;
    background-color: #6fbf44;
    padding: 5px 30px;

}

.register2 button {
    display: flex;
    color: rgb(111, 191, 68);
    cursor: pointer;

}

.img {
    width: 595px;
    height: 500px;
    margin-top: 100px;

}

.main {
    box-sizing: content-box;
    display: flex;
    margin: 100px 100px;
}

.container-right {
    box-sizing: flex;
    margin-top: 200px;
    margin-left: 40px;
    color: #161A49;
}

h1 {
    width: 582px;
    height: 164px;
    font-size: 60px;
}

p {
    font-size: 15px;
    margin-top: 50px;
    width: 493px;
    height: 99px;

}

.register2 button {
    font-size: 20px;
}


@media (max-width: 390px) {

    .navigation {
        margin: 10px;
        display: flex;
        gap: 20px;
        padding: 10px;
        flex-wrap: nowrap;
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .container-buttons button {
        font-size: 18px;
        margin: 5px;
        padding: 10px;
    }

    .register {
        display: flex;
        height: auto;
        margin: 0;
        padding: 0;
        align-items: center;
        width: auto;
        justify-content: center;
        gap: 50px;
    }

    .register button {
        padding: 20px 25px;
        font-size: 20px;

    }

    .main {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .container-right {
        margin: 10px;
        text-align: center;
    }

    h1,
    p {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        margin-top: 10px;
    }

    .register2 {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 100%;
        max-width: 595px;
        height: auto;
        margin-top: 100px;
    }

    #imgg {
        width: 100%;
        height: auto;
    }
}